.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.picture {
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  width: 500px;
  height: 400px;
  z-index: 1;
}

.text {
  margin: auto;
  width: 50%;
  z-index: 1000;
  position: relative;
  text-align: center;
  font-family: 'Handlee', cursive;
}

select {
  font-family: 'Handlee', cursive;
}
