.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

#picture {
  height: 470px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -45px;
}

.text {
  margin: auto;
  width: 50%;
  z-index: 1000;
  position: relative;
  text-align: center;
  font-family: 'Handlee', cursive;
  top: -90px;
}

select {
  font-family: 'Handlee', cursive;
}
